@page "{id:int}"
@model DishModel
@{
    ViewData["Title"] = Model.Recipe?.Name;
}


<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="button btn btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Index">Back</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">

            <h1 class="display-4">@Model.Recipe?.Name</h1>
        </div>
        <div class="col-md-3 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>

</div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-sm-4">

            <label>Serves:</label><br/>
            <p class="text-box h4 overflow-hidden ">@Model.Recipe?.Serves</p>

            <label> Serving suggestion: </label><br/>

            @{
                try
                {
                    <img src="@($"data:Images/jpg;base64,{Convert.ToBase64String(Model.Recipe?.Image!)}")" style="width:100%" alt="@Model.Recipe?.Name"/>
                }
                catch
                {
                    <img src="/img/no-image-available.png" alt="No Image available"/>
                }
            }
        </div>
        <div class="col-sm-3">
            <label>Ingredients:</label><br/>
            <p class="text-box h4 overflow-hidden">@Html.Raw(Model.Recipe?.Ingredients!.Replace("\n", "<br/>"))</p>
        </div>
        <div class="col-sm-5">
            <label> Method: </label><br/>
            <p class="text-box h4 overflow-hidden">@Html.Raw(Model.Recipe?.Method!.Replace("\n", "<br/>"))</p>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row">
        @if (!string.IsNullOrEmpty(Model.Recipe?.Notes))
        {
            <label>Notes:</label>
            <br/>
            <p class="text-box h4 overflow-hidden">@Model.Recipe.Notes</p>
        }
    </div>
</div>