@page "{id:int}"
@model DishModel
@{
    ViewData["Title"] = Model.Recipe.Name;
}



<div class="container mt-5">
    <div class="row">
        <div class="col-md-3">
            <div class="m-2 d-grid">
                <a class="btn btn-lg btn-outline-success" asp-area="" asp-page="/Recipes/Index">Back</a>
            </div>
        </div>
        <div class="col-sm-6 text-center">

            <h1 class="display-4">@Model.Recipe.Name</h1>
        </div>
        <div class="col-md-3 text-center">
            <h1 class="display-4"></h1>
        </div>
    </div>

</div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-sm-3">
           
            <label>Serves:</label><br />
            <p class="text-box h4 overflow-hidden">@Model.Recipe.Serves</p>
       
            <label> Serving suggestion: </label><br />

             @{
                    try
                    {
                           <img src="@string.Format("data:Images/jpg;base64,{0}",Convert.ToBase64String(@Model.Recipe.Image))" alt="@Model.Recipe.Name" />

                    }
                    catch
                    {
                        
                            <img src="/img/Empty.png" alt="No Image available" />
                       
                    }
                }
            <img src="/img/Independent-logo.jpg" class="image-box img-fluid" alt="Independent foodbanks" />
        </div>
        <div class="col-sm-4">
            <label>Ingredients:</label><br />
            <p class="text-box h4 overflow-hidden">@Model.Recipe.Ingredients</p>
        </div>
        <div class="col-sm-4">
            <label> Method: </label><br />
            <p class="text-box h4 overflow-hidden">@Model.Recipe.Method</p>
        </div>
    </div>
</div>
<div class="container mt-4 mb-4">
    <div class="row">
        <div class="col-sm-3"> </div>
        
        <div class="col-sm-8">
            <label>Notes:</label><br />
            <p class="text-box h4 overflow-hidden">@Model.Recipe.Notes</p>
        </div>

    </div>
</div>